{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>change password </title>
    <link rel="stylesheet" href="{%  static 'style.css' %}">
    <style>
        form{
            width: 25rem;
        }
    </style>
</head>
<body>
    <center>
    <form action="" method="POST" style="margin-top: 40px;">
        <div class="headingsContainer">
            <h1>Change Password</h1>
        </div>
        <div class="mainContainer">
            <input type="password" placeholder="Enter Password" name="password" required>
            <br><br>
            <input type="password" placeholder="Enter Confirm Password" name="repassword" required>
            <br>
            <p>{{ msg }}</p>
             <button type="submit">SUBMIT</button>
            <p class="register">Not a member?  <a href="{% url 'register' %}">Register here!</a></p>
            <a href="{% url 'login' %}" class="btn btn-submit" style="color:hwb(189 0% 0%)">Back to login Page</a>
        </div>
    </form>
</center>
</body>
</html>
